#can{
	width: 970px;
	margin: 0 auto;
}
#lt, #main{
	display: inline-block;
	vertical-align: top;
}
.head-spacer{
	width: 440px;
	display: inline-block;
}
.nav{
	display: inline-block;
	text-align: right;
	padding-left: 440px;
}
.nav ul{
	border: 1px solid #DDD;
	border-radius: 5px;
	border-top: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.nav li, .nav ul{
	display: inline-block;
	color: #AAA;
	font-size: .8em;
	padding: 0 10px 0 10px;
	margin-bottom: 8px;
}
.nav-item{
	border-left: 1px solid gray;
}
.nav input{
	background-color: #007DC0;
	border-radius: 3px;
	color: white;
	padding: 3px 15px;
	margin-left: 15px;
}
h1.brand{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 12px;
	font-weight: 400;
}
.title-word{
	color: gray;
}
.blu h2{
	background-color: #007DC0;
	padding: 10px;
	font-weight: 300;
	margin: 0 0 10px 0;
	color: white;
}
#lt{
	max-width: 240px;
	margin: 50px 10px;
}
#lt h5{
	color: #C93E1C;
	margin-bottom: 0;
}
#lt p{
	margin-top: 5px;
}
#main{
	max-width: 700px;
}
#main div ul li:before{
	color: #007DC0;
	content: "\25AA";
	font-size: 1.5em;
	padding-right: .25em;
	margin-left: -12px;
}
#main div ul{
	padding-left: 15px;
}
#main ul li{
	display: inline-block;
}
#main ul li ul{
	padding-left: 10px;
}
#main ul li ul li{
	display: block;
	color: gray;
	font-size: .8em;
}
.ph{
	color: #2DA2CD;
	font-size: 2.25em;
	line-height: 1.1em;
}
.list-space{
	width: 390px;
}
.list-space a{
	text-decoration: none;
	padding-left: 3px;
}
.strong{
	font-weight: bold;
}
#main a, #main h3, #main h4, #lt a, #lt h3, #lt h4, h1.brand{
	color: #007DC0;
}
#ad-main{
	border: 5px solid #2DA2CD;
	width: 90%;
	padding: 5px;
	padding-bottom: 15px;
	font-family: Arial;
}
#ad-main h4{
	display: inline;
	vertical-align: top;
}
#ad-main img{
	padding-right: 15px;
	float: left;
}
#ad-main .btn{
	background-color: #A0BD31;
	border-radius: 5px;
	border: 2px solid black;
	margin: 0 0 10px 74px;
	text-decoration: none;
	color: white;
	padding: 7px 20px;
}
#lt .btn{
	background-color: #126092;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 7px 20px;
	margin-bottom: 5px;
	display: block;
	text-align: center;
}
#lt .btn1{
	background-color: #209FE1;
}
#lt .btn2{
	background-color: #F27A21;
}
#lt hr{
	width: 100%;
}
.lt-ad-btn{
	background-color: #126092;
	font-size: .85em;
}
.lt-ad{
	background-color: gray;
	background-image: url("img/left_content_ad.png");
	background-repeat: no-repeat;
	background-position: top left;
	height: 239px;
	width: 178px;
	padding: 1px 10px;
	color: #474747;
	font-size: .9em;
}
.ctr{
	text-align: center;
}
body {
}
div{
	/*outline: 1px dashed blue;*/
}
img{
	/*outline: 1px dashed green;*/
}
p, li{
	line-height: 1.5;
	font-size: .8em;
}
p, li, h1, h2, h3, h4, h5, h6, a{
	font-family: Verdana,Geneva,sans-serif;
}
hr{
	border: 1px solid #DDD;
	width: 95%;
	margin: 12px 0;
}